*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    height: 100vh;
}

body, header, section, a, footer, p, h1, main,form{
    display: flex;
}

body{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 12px);
    height: 100vh;
    background-color: #111111;
    height: fit-content;
    padding: 10vh 0 0 0;
    overflow-y: hidden;
}

header{
    width: 80vw;
    height: 150px;
    background-image: url(Images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 48px 48px 0 0;
}

main{
    flex-direction: column;
    background-color: white;
    width: 80vw;
    height: calc(95vh - 150px);
    padding: 0 5vw;
    gap: 8px;
}

main > section{
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

main > img{
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: -75px;
    object-fit: cover;
    object-position: center center;
    border: 6px white solid;
}

.profile{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.profile section{
    flex-direction: column;
    gap: 16px;
}

form{
    flex-direction: column;
    gap: 16px;
}

h1{
    max-width: 200px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Space Grotesk', Arial, sans-serif;
}

p{
    font-size: 16px;
    font-weight: 600;
    font-family: Urbanist, Arial, sans-serif;
}

output{
    font-size: 16px;
    font-weight: 300;
    font-family: Urbanist, Arial, sans-serif;
}

a{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: #111111;
    gap: 16px;
    padding-top: 8px;
}

a img{
    width: 24px;
    aspect-ratio: 1;
    object-fit: cover;
}

@media screen and (max-width:480px) {

    body{
        width: 100vw;
        padding: 10vh 0;
    }
    
    header{
        width: 90vw;
        height: 240px;
        border-radius: 16px 16px 0 0;
    }
    
    main{
        flex-direction: column;
        width: 90vw;
        height: calc(80vh - 240px);
        padding: 0 2.5vw;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }
    
    main > section{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-bottom: 48px;
    }
    
    main > img{
        width: 60vw;
        aspect-ratio: 1;
        margin-top: -150px;
        border: 4px white solid;
    }
    
    .profile{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        gap: 64px;
    }
    
    .profile section{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    
    
    h1{
        max-width: 200px;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Space Grotesk', Arial, sans-serif;
        text-align: center;
    }
    
    p{
        font-size: 16px;
        font-weight: 600;
        font-family: Urbanist, Arial, sans-serif;
        text-align: center;
    }
    
    output{
        font-size: 16px;
        font-weight: 300;
        font-family: Urbanist, Arial, sans-serif;
        text-align: left;
    }
    
    a{
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        color: #111111;
        gap: 16px;
        padding-top: 8px;
        text-align: center;
    }

}